// FONTS
$font-title: 'Mochiy Pop One';
$font-body: 'Roboto', sans-serif;


// COLORS
$color-second: #C6D8FF;   
$color-first: #34277E;   
$color-black:  #303536;  
$color-white:  #FFFFFF;
$color-grey:   #6B6A80;   


// BORDER
$border-thickness: 1rem;
$border-radius: 20rem;

// Sombra estilo “pop”
$shadow-pop: 0 0 0.2rem 0 $color-second;

//FONT SIZE
$font-s: 0.5rem;     // 8px
$font-m: 1rem;        // 16px
$font-l: 1.5rem;      // 24px
$font-xl: 2rem;       // 32px
$font-xxl: 3rem;      // 48px

//BREAKPOINTS
$tablet: 768px;
$desktop: 1200px;          





