@use '../core/variables' as vars;

.page__hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 999;

    .header--dayAndNigth {
    width: 4rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    position: fixed;
    z-index: 1000;
    top: 0;

    .dayAndNight--logos {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: 0.8rem;


      .dayNight--img {
        cursor: pointer;
      }
    }
  }
  

  .hero__content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('/images/cathero-light.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    padding-top: 6rem; 


    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(255, 255, 255, 0.15);
      z-index: 0;
    }


    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-image: url('/images/cathero-dark.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity 0.6s ease;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }

    .hero__content--title {
      font-family: vars.$font-title;
      font-size: vars.$font-xxl;
      font-weight: 700;
      color: vars.$color-first;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      margin-top: -10rem;
    }

    .hero__content--text {
      font-size: vars.$font-m;
      font-weight: 700;
      color: vars.$color-first;
      text-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      margin-bottom: 1.5rem;
    }
  }
}

@media (min-width: vars.$tablet) {
  .hero__content--title {
    font-size: 5rem;
  }
}


