<header class="page__header">
  <section class="header--logo">
    <a id="logo--img" href="#hero"><img src="images/catnime-logo.png" alt="Catnime logo"></a>
    <a id="logo--text" href="#hero"><img  src="images/logo-text.png" alt="Catnime"></a>
  </section>


  <section class="header--hamburger" id="hamburger">
    <a href="#" ><img class="hamburger--logo" src="images/hamburger.png" alt="Menú"></a>
  </section>

  <nav class="header--nav">
    <ul class="nav--ul">
      <li class="nav--li"><a href="#hero">Inicio</a></li>
      <li class="nav--li"><a href="#page__main">Buscador</a></li>
      <li class="nav--li"><a href="#favorites">Favoritos</a></li>
    </ul>
  </nav>
</header>