<section class="page__hero is-hero" id="hero">
     <section class="header--dayAndNigth">
    <div class="dayAndNight--logos">
      <a href="#"><img class="dayNight--img" data-theme="light" src="images/sun.png" alt="Modo día"></a>
      <a href="#"><img class="dayNight--img" data-theme="dark"src="images/moon.png" alt="Modo noche"></a>
    </div>
  </section>
    <div class='hero__content'>
        <h1 class='hero__content--title'>Catnime</h1>
        <p class='hero__content--text'>Tu buscador de anime favorito</p>
        <button class='button' aria-label='buscar'><a href="#page__main">Comenzar</a></button>
    </div>
</section>