<main class="page__main">

    <h1>Mi buscador de Anime</h1>
    <form id="formSearch">
        <input type="text" id="inputUser" placeholder="Escribe aquí tu anime">
        <button type="submit" id="buttonSearch" class="button" aria-label="buscar">Buscar</button>
        <button type="button" id="buttonReset" class="button" aria-label="borrar">Reset</button>
    </form>

    <section id="containerSearch">

    </section>


    <section id="containerFav">
        <h2>Favoritos</h2>

    </section>


  <template id="templateAnimeCard">
    <div class="animeCard">
      <img class="animeImg" alt="">
      <p class="animeTitle"></p>
      <button type="button" class="favoriteButton" id="favoriteButton" aria-label="añadir a favoritos">♥</button>
    </div>
  </template>

</main>
